@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
}

.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: rgb(255, 211, 160);
    text-align: center;
}


#meal{
    margin: 2.4rem 0;
}
.meal-list{
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
    cursor: pointer;
}
.meal-menu{
    padding: 1.5rem 0.5rem;
}
.meal-menu h3{
    font-size: 1.4rem;
}

/* js related */
.showMenu{
    display: block;
}

.meal-details-content{
    margin: 2rem;
    align-items: center;
    background-color: rgb(255, 251, 212);
    border-radius: 20px;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
    color:rgb(202, 92, 28);
    font-weight: bold;
}

.recipe-instruct{
    padding: 1rem 0;
    text-align: left;
}
.recipe-instruct ul{
    margin-left: 3rem;
}

.recipe-instruct h3{
    margin-left: 3rem;
}
.recipe-meal-img img{
    width: 60%;
    height: 60%;
    border-radius: 5%;
    margin: 0 auto;
    display: block;   
     
}

.notMatch{
    grid-template-columns: 1fr!important;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-list{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}