@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 176, 130);
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.7;
    font-family: 'Oswald', sans-serif;
}

.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    text-align: center;
}

.meal-result{
    margin-top: 4rem;
}

#meal{
    mara
}